--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
-i https://pypi.anaconda.org/intel/simple
numpy
scipy
-i https://pypi.org/simple
openvino==2022.1.0
transformers
diffusers
opencv-python
tqdm
huggingface_hub
streamlit
